body{
	margin: 0%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{ 
	display: block;
	position: relative;
}

.login-field{
	display: flex;
	background-color: lightgray;
	display: block;
	padding: 5em;
	margin-bottom: 0%;
	text-align: center;
}

input{
	border-radius: 5px;
	text-align: center;
}

table{
	display: flex;
	justify-content: center;
}

td{
	height: 30px;
}

#Username {
	height: 30px;
	width:auto;
    font-size:14pt;
}

#Password {
	height: 30px;
	width:auto;
    font-size:14pt;
}

#Submit {
	height: 45px;
	width:auto;
    font-size:14pt;
}

footer{
	display: flex;
	background-color: gray;
    justify-content: center;
	padding-bottom: 18.9em;
}