html{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:smaller;
}

header{
    display: flex;
    display: flex;
    border: 2px solid;
    background:lightblue;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
    margin: 20px; 
}

.name-table{
    display: flex;
    border: 2px solid;
    background: lightcoral;
    border-radius: 20px; 
    padding: 20px;
    margin: 20px;
}

table {
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
    width:12em;
    height: 12em;
        
}

th {
    background-color: white;
    border: 1px solid gray;
    text-align: left;
}

td {
    border: 1px solid white;
    text-align: left;
}

.item-selector {
    display: in;
    border: 2px solid;
    background: lemonchiffon;
    padding: 10px;
    border-radius: 20px;
    margin: 20px; 
}

footer {
    display: flex;
    border: 2px solid;
    background: lightseagreen;
    padding: 2px;
    padding-left: 15px;
    border-radius: 20px;
    margin: 20px; 
}